{% extends 'base_layout.html' %}
{% load static %}

{% block content%}
<div class="container-fluid">
  <!-- <a href="#"><img class="logo" src="{% static 'opera-anywhere-logo-image.jpg' %}"/></a>
  <nav>
    <form action="{% url 'accounts:logout'%}" method="post">
      {% csrf_token %}
      <button class="logout-button" type="submit">Logout</button>
    </form>
  </nav> -->
  <!-- <div class="container-fluid" >
    <ul class="nav">
      <li class="nav-item">
        <a href="#"><img class="logo nav-link" src="{% static 'opera-anywhere-logo-image.jpg' %}"/></a>
      </li>
      <li class="nav-item">
        <form action="{% url 'accounts:logout'%}" method="post">
          {% csrf_token %}
          <button class="logout-button nav-link" type="submit">Logout</button>
        </form>
      </li>
    </ul>
  <div> -->



  <!-- <div class="events"> -->
    <!-- <div class="container-fluid>" -->
      <div class="row">
        {% for event in events %}
            <div class="col-12 col-md-6 col-lg-4 py-3">
              <div class="event p-3">
                <img class="icons" src="{{ event.thumb.url }}"/>
                <!-- <br> -->
                <p class="thick"><a class="production-link" href="{% url 'events:detail' id=event.id %}">{{event.production}}</a></p>
                <p>{{event.performance_date}}</p>
                <p>{{event.location}}</p>
                <!-- add more to this when model updated -->
              </div>
            </div>
        {% endfor %}
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>
{% endblock%}
